<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<section class="content">	
				<ul class="timedate">
					<li><strong><small>Datum: 2014-11-04</small></strong></li>
				<li><strong><small> Tid: 9:45 </small></strong></li>
				<li><strong><small> Inloggad: AMK</small></strong></li>
			</ul>
				<h4>Registrera ärende: ID-1235679</h4>

				<label>Ärendet registreras av:</label>
						<select class="form-control">
						  <option>Aino-Maria</option>
						  <option>Morten</option>
						  <option>Åsa</option>
						  <option>Peter</option>
						  <option>Mikael</option>
						</select>

				<form class="form-inline">
				  <div class="form-group">
				    <label for="annanperson">Annan person:</label>
				    <input type="text" class="form-control" id="annanperson" placeholder="Förnamn Efternamn">
				  </div>
				</form>

				<label>Typ av ärende:</label>
				<select class="form-control">
						<option>Kategori 1</option>
						<option>Kategori 2</option>
						<option>Kategori 3</option>
				</select>

				<div class="form-group">
					<label for="annanarende">Annan typ av ärende:</label>
					<textarea class="form-control" rows="3"></textarea>
				</div>

				<label>Annan information om ärendet:</label>
				<div class="form-group">
					<label for="namn">Namn:</label>
					 <input type="text" class="form-control" id="namn" placeholder="Förnamn Efternamn">
					 <label for="namn">Personnummer:</label>
					 <input type="text" class="form-control" id="personnummer" placeholder="Personnummer">
					 <label for="namn">Adress:</label>
					 <input type="text" class="form-control" id="adress" placeholder="Gatuadress">
					 <label for="namn">ID:</label>
					 <input type="text" class="form-control" id="namn" placeholder="ID-nummer">
					 <label for="namn">Övrigt:</label>
					 <input type="text" class="form-control" id="övrigt" placeholder="Övrigt">
				</div>
				  
				<button type="submit" class="btn btn-success">Registrera</button>
				<button type="submit" class="btn btn-default">Avbryt</button>
			</section><!--end content-->

		</div><!--end cols-->		
	</div><!--end row-->
</div><!--end container-->